
/*.posts-wrap*/

.posts-wrap {
  grid-area: p;
  width: 100%;
}

.posts-wrap__title {
  text-align: right;
  margin: 10px 0;
}

.post {
  /*width: 80%;*/
  /*box-sizing: border-box;*/
  margin: 15px 0;
  padding: 10px;
  display: grid;
  box-sizing: border-box;
  grid-template-areas:
    "a c c"
    "a 0 l";
  border: 1px solid #D3D9DE;
  border-radius: 4px;
  background-color: #fff;

}

.post__avatar {
  grid-area: a;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.post__content {
  grid-area: c;
  margin: 0 auto;
  /*padding: 0 0 0 40px;*/
  width: 80%;

}

.post__like {
  grid-area: l;
  border: none;
  background-color: #E5EBF1;
  color: #486F96;
  padding: 5px 20px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
