.app-wrapper {
  display: grid;
  grig-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
  grid-template-areas:
    "h h h"
    "n c c"
    "f f f";
  grid-gap: 10px;
  padding: 10px;
  margin: 10px;
  background-color: #EDEEF0;
  border-radius: 10px;
  border: 1px solid black;
}
